body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 100;
}

.container {
	width: 100%;
	height: 100%;
}

.hero {
	text-align: center;
}

.elever a {
	text-decoration: none;
	transition: all .2s ease;
}

.elever a:hover {
	color: tomato;
	font-size: 1.5em;
}

.elev {
	text-align: center;
	padding-top: 2em;
	font-size: 2em;
}

#arunanthi {
	animation-delay: .1s;
}

#johannes {
	animation-delay: .15s;
}

#georgi {
	animation-delay: .2s;
}

#tobias {
	animation-delay: .25s;
}

#jonaso {
	animation-delay: .3s;
}

#jonasa {
	animation-delay: .35s;
}

#sander {
	animation-delay: .4s;
}

#eivind {
	animation-delay: .45s;
}

#nicolas {
	animation-delay: .5s;
}

#sabah {
	animation-delay: .55s;
}

#martin {
	animation-delay: .6s;
}

#erlend {
	animation-delay: .65s;
}
