body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 100;
}

.container {
	width: 100%;
	height: 100%;
}

.hero {
	text-align: center;
}

.elev {
	text-align: center;
	padding-top: 2em;
	font-size: 2em;
}

#arunanthi {
	animation-delay: .1s;
}

#johannes {
	animation-delay: .15s;
}

#georgi {
	animation-delay: .1s;
}

#tobias {
	animation-delay: .15s;
}

#jonaso {
	animation-delay: .1s;
}

#jonasa {
	animation-delay: .15s;
}

#tobias {
	animation-delay: .1s;
}

#sample {
	animation-delay: .15s;
}

#tobias {
	animation-delay: .1s;
}

#sample {
	animation-delay: .15s;
}

#tobias {
	animation-delay: .1s;
}

#sample {
	animation-delay: .15s;
}
